<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts en <%= category %></title>
    <%- include('fragments/css.ejs') %>

</head>
<body>
    <h1>Posts en <%= category %></h1>
    <% if (posts.length > 0) { %>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <h2><%= post.title %></h2>
                    <p><%= post.description %></p>
                    <small><%= post.date.toDateString() %></small>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No hay posts en esta categoría.</p>
    <% } %>
</body>
</html>
